<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap"
  rel="stylesheet"
/>

<div class="bg img"></div>

<div class="modal">
  <div class="login">
    <div class="loginPanel">
      <div class="forms">
        <div class="box">
          <div class="title">
            <div class="title--inside">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="icon"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                />
              </svg>
              Clinic Plus
            </div>
          </div>

          <button
            class="linkBackPage"
            id="linkBackPageLog"
            (click)="closeLogin()"
          >
            <i class="fa fa-angle-left"></i>
          </button>

          <div class="textNome">
            <div class="titleInput">Nome</div>
            <input
              type="text"
              id="NameTextReg"
              required=""
              placeholder="Nome"
              [(ngModel)]="dataForm.nome"
              (keyup)="setMaskOnlyLetters(dataForm.nome)"
              (paste)="setMaskOnlyLetters(dataForm.nome)"
              (drop)="setMaskOnlyLetters(dataForm.nome)"
            />
          </div>

          <div class="textCpf">
            <div class="titleInput">CPF</div>
            <input
              type="text"
              id="CpfText"
              required=""
              placeholder="CPF"
              [(ngModel)]="dataForm.cpf"
              (keyup)="setMaskCPF()"
              (paste)="setMaskCPF()"
              maxlength="14"
            />
          </div>
        </div>

        <button type="button" class="slide" (click)="postLogin()">
          <div>Login</div>
          <i class="icon-login"></i>
        </button>

        <div class="cadastrar">
          <button id="register" (click)="closeLogin(); openRegister()">
            Ainda não tem cadastro? Cadastre-se na Clinic Plus!
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="register">
    <div class="loginPanel">
      <div class="forms">
        <div class="box">
          <div class="title">
            <div class="title--inside">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="icon"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                />
              </svg>
              Clinic Plus
            </div>
          </div>

          <button
            class="linkBackPage"
            id="linkBackPageReg"
            (click)="closeRegister()"
          >
            <i class="fa fa-angle-left"></i>
          </button>

          <div class="textNome">
            <div class="titleInput">Nome</div>
            <input
              type="text"
              id="NameTextReg"
              required=""
              placeholder="Nome"
              [(ngModel)]="dataForm.nome"
              (keyup)="setMaskOnlyLetters(dataForm.nome)"
              (paste)="setMaskOnlyLetters(dataForm.nome)"
            />
          </div>

          <div class="textCpf">
            <div class="titleInput">CPF</div>
            <input
              type="text"
              id="CpfText"
              required=""
              placeholder="CPF"
              [(ngModel)]="dataForm.cpf"
              (keyup)="setMaskCPF()"
              (paste)="setMaskCPF()"
              maxlength="14"
            />
          </div>

          <div class="textEndereco">
            <div class="titleInput">Endereço</div>
            <input
              type="text"
              id="EndText"
              required=""
              placeholder="Endereço"
              [(ngModel)]="dataForm.endereco"
              (keyup)="
                dataForm.endereco = removeSpacesInInitial(dataForm.endereco)
              "
              (paste)="
                dataForm.endereco = removeSpacesInInitial(dataForm.endereco)
              "
            />
          </div>

          <div class="textCep">
            <div class="titleInput">CEP</div>
            <input
              type="text"
              id="CepText"
              required=""
              placeholder="CEP"
              [(ngModel)]="dataForm.cep"
              (keyup)="setMaskCEP()"
              (paste)="setMaskCEP()"
              maxlength="9"
            />
          </div>

          <div class="textCidade">
            <div class="titleInput">Cidade</div>
            <input
              type="text"
              id="CityText"
              required=""
              placeholder="Cidade"
              (paste)="utilService.blockPaste($event)"
              [(ngModel)]="dataForm.cidade"
              (keyup)="setMaskOnlyLetters(dataForm.cidade)"
              (paste)="setMaskOnlyLetters(dataForm.cidade)"
            />
          </div>

          <div class="checkCRM">
            <div class="titleInput">Selecione:</div>

            <div>
              <label class="container"
                >Paciente
                <input
                  type="radio"
                  name="radio"
                  [value]="false"
                  [(ngModel)]="dataForm.medico"
                />
                <span class="checkmark"></span>
              </label>

              <label class="container"
                >Médico
                <input
                  type="radio"
                  name="radio"
                  [value]="true"
                  [(ngModel)]="dataForm.medico"
                />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <div class="textCRM" *ngIf="dataForm.medico">
            <div class="titleInput">CRM</div>
            <input
              type="text"
              id="CrmText"
              required=""
              placeholder="CRM"
              [(ngModel)]="dataForm.crm"
              (keyup)="setMaskCRM()"
              (paste)="setMaskCRM()"
            />
          </div>
        </div>

        <button type="button" class="slide" (click)="postRegister()">
          <div>Cadastre-se</div>
          <i class="icon-note"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <header class="header">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="icon"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
      />
    </svg>
    Clinic Plus
  </header>

  <div class="loginPanel" id="homePanel">
    <div class="forms">
      <div class="box">
        <div class="title">
          <div class="title--inside">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
              />
            </svg>
            Clinic Plus
          </div>
        </div>

        <button type="button" class="slide" id="btnLog" (click)="openLogin()">
          <div>Login</div>
          <i class="icon-login"></i>
        </button>

        <button type="button" class="slide" (click)="openRegister()">
          <div>Cadastre-se</div>
          <i class="icon-note"></i>
        </button>
      </div>
    </div>
  </div>
  <footer class="footer"></footer>
</div>
